*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100vw;
    height: 150vh;
    max-width: 100%;
}

/* ESTILOS DE HEADER */
header{
    height: 15vh;
    width: 100%;
    background-color: rgb(114, 107, 107);
    position: fixed;
    top: 0;
    left: 0;
}

nav ul{
    text-align: center;
    margin-right: 13%;
    width: auto;
    max-width: 992px;
    margin: 0 auto;
}
nav ul li{
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 25px;
    margin-top: 30px;
}

nav ul li a{
    text-decoration: none;
    color:white;

}
nav ul li a{
    padding: 5px 5px;
    border-radius: 3px;
    transition: 1s;
}
nav ul li a:hover{
    background-color: rgb(173, 173, 173);
}
.logo{
    font-weight: bold;
    color:white;
    font-size: 30px;
    text-decoration: none;
    width: max-content;
    height: 50px;
    margin-top: 25px;
    margin-left: 30px;
    float: left;
    padding-right: 0px;
}
.img-logo{
    height: 100%;   
}
.nav-toggle{
    color: white;
    background:none;
    border:none;
    font-size: 30px;
    padding: 0 35px;
    line-height: 60px;
    display: none;
}

.encabezado__redsocial {
        width: 25px;
        float: right;
        margin-right: 15px;
        margin-top: 0px;
        position: relative;
        bottom: 25px;
}

/* ESTILOS DE MAIN */
main{
    width: 100%;
    height: 130%;
    padding: 7px 5px 7px 5px;
    background-image: url(../image/3d.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100%;
}
#empresa {
    display: flex;
    color: white;
}

#texto-empresa{
    padding: 150px;
    margin: 20px;
}

#texto-empresa2:first-child{
    flex: 2;
    
}
#texto-empresa2 div{
    padding: 150px;
    margin: 20px;
}

/* ESTILOS DE FOOTER */
footer{
    height: 15vh;
    width: 100%;
    background-color:  rgb(114, 107, 107);
}

footer{
    color: white;
}
.logo-footer{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Media */
@media (max-width: 768px) {
    body{
       padding-top: 55px;
    }
    header{
        height: 10vh;
    }
    
    .logo{
        font-size: 20px;
        margin-top: 18px;
    }
    nav ul{
        margin:0;
        margin-right: 10px;
        background-color: rgb(48, 42, 42);
        position: fixed;
        left: 0;
        top: 62px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 55px);
        left: 100%;
        transition: 1s;
    }
    nav ul li{
        display:flex;
        flex-direction: column;
        text-transform: uppercase;
        margin-right: 20px;
        padding: 5px 25px;
        margin-top: 15px;
    }
    .nav-toggle{
        font-size: 20px;
        line-height: 60px;
        display:flex;
        margin-top: 3px;
        float: right;
    }
    .nav-toggle{
        display: block;
    }
    .nav-ul_visible{
        left: 0;
    }

    .encabezado__redsocial {
        display: none;
}

}